.loading--page {
 height: 90vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 15px;
}

.loading--page h1 {
 font-family: "Oleo Script Swash Caps";
 font-weight: 400;
 font-size: 80px;
}

.loading--page img {
 width: 80px;
 height: 80px;
}