.join-event-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.join-card-container {
    max-width: 100%;
    background-color: #92C7EF;
    border-radius: 20px;
    padding: 32px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 28px;
}

.join-event-img {
    width: 125px;
    height: 160px;
}

.event-code-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.code-tabs-headers {
    display: flex;
    gap: 22px;
}

.code-tabs-headers h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1.5px #FFF;
    padding-bottom: 3px;
    cursor: pointer;
}

.code-tabs-headers h1:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.event-code-inputs {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 26px;
}

.add-loading-gif {
    width: 36px;
    height: 36px;
}

@media(min-width: 768px) {
    .join-card-container {
        padding: 32px 52px 38px 52px;
    }

    .join-event-img {
        width: 165px;
        height: 200px;
    }
}

@media(min-width: 992px) {
    .join-card-container {
        flex-direction: row;
        padding: 34px 52px 38px 52px;
        gap: 50px;
    }

    .join-event-img {
        width: 230px;
        height: 284px;
    }

    .code-tabs-headers {
        gap: 36px;
    }

    .code-tabs-headers h1 {
        border-bottom: solid 2px #FFF;
    }

    .event-code-inputs {
        gap: 22px;
    }

    .event-code-inputs .button {
        margin-top: 6px;
    }
}
