.event-card-container {
    position: relative;
    background-color: #ADD3FA;
    cursor: pointer;
    font-size: 14px;
    padding: 14px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    border: solid 5px #92C7EF;
    max-height: 112px;
    max-width: 150px;
}

.event-card-container h1 {
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-card-container hr {
    border: rgba(255, 255, 255, 0.8) solid 0.5px;
    margin-top: 7px;
    width: 100%;
}

.event-card-container p {    
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.delete-event {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgba(108, 99, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-event img {
    height: 10px;
    width: 10px;
}

.event-card-header {
    width: 100%;
    font-size: 20px;
}

@media(min-width: 768px) {
    .event-card-container {
        padding: 18px 14px;
        max-width: 190px;
        max-height: 135px;
    }

    .event-card-container h1 {
        font-size: 14px;
    }

    .event-card-container p { 
        font-size: 12px;
    }
}

@media(min-width: 992px) {
    .event-card-container {
        max-height: 150px;
        border-radius: 16px;
        border: solid 6px #92C7EF;
        max-width: 220px;
    }

    .event-card-container h1 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.6px;
    }

    .event-card-container p { 
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .delete-event {
        width: 24px;
        height: 24px;
    }

    .delete-event img {
        height: 16px;
        width: 16px;
        transform: translateX(0.5px);
    }
}