.nav--container {
    top: 0;
    background-color: #92C7EF;
    padding: 15px 20px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--container h1 {
    font-size: 26px;
    font-weight: 400;
    font-family: "Oleo Script Swash Caps";
}

.nav--profile--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--profile--container h1 {
    font-size: 21px;
    font-family: "Open Sans";
    font-weight: 600;
}

.profile--margin {
    margin-left: 15px;
}

@media (min-width: 576px) {
    .nav--container {
        padding: 15px 40px;
    }
}

@media (min-width: 992px) {
    .nav--container {
        padding: 15px 60px 15px 40px;
    }
}