.form-field-container {
    width: 100%;
    max-width: 175px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    gap: 18px;
}

.form-field-container span {
    border-bottom: 1.6px solid #FFF;
    padding-bottom: 2px;
    display: inline;
}

.form-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #ADD3FA;
    border-radius: 6px;
    padding: 0 8px;
}

.form-input-area input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 29px;
    color: #FFF;
    font-size: 16px;
}

.form-input-area input:focus {
    outline: none;
}

.form-input-area img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .form-field-container {
        max-width: 218px;
        gap: 18px;
    }

    .form-field-container span {
        font-size: 15px;
        border-bottom: 2px solid #FFF;
        padding-bottom: 3px;
    }

    .form-input-area input {
        height: 30px;
        font-size: 18px;
    }
}