.remove-event-main {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.remove-card-container {
    max-width: 100%;
    background-color: #92C7EF;
    border-radius: 20px;
    padding: 35px 32px 40px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.remove-card-container h1 {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 26px;
    margin-bottom: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

.remove-card-container img {
    height: 145px;
}

.remove-event-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.remove-event-area span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.remove-event-area img {
    width: 36px;
    height: 36px;
}

.remove-event-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

@media(min-width: 992px) {
    .remove-card-container {
        flex-direction: row;
        padding: 38px;
        gap: 50px;
    }

    .remove-card-container h1 {
        margin: unset;
        font-size: 20px;
    }

    .remove-event-area {
        height: 100%;
        justify-content: space-between;
    }

    .remove-event-area span {
        margin: unset;
        font-size: 18px;
    }
}