.rate-popup-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    display: flex;
}

.rate-popup-card {
    text-align: center;
    background-color: #92C7EF;
    border-radius: 20px;
    padding: 32px 34px 28px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    position: relative;
}

.rate-loading-gif {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 14px;
    right: 14px;
}

.rate-event-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.rate-event-area h1 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.rate-input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.rate-input-area h1 {
    font-weight: 500;
}

.rate-input-area input {
    width: 46px;
    height: 28px;
    padding: 4px;
    background-color: #ADD3FA;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}

.rate-input-area input:focus {
    outline: none;
}

.rate-event-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 12px;
    background-color: #6C63FF;
    border-radius: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: all ease 0.2s;
    border: none;
    color: #FFF;
    gap: 6px;
}

.rate-event-area button:hover {
    background-color: #7972f6;
}

@media(min-width: 992px) {
    .rate-popup-card {
        flex-direction: row-reverse;
        padding: 36px 34px 38px 34px;
        gap: 44px;
    }

    .rate-loading-gif {
        top: 16px;
        right: 18px;
    }

    .rate-image {
        width: 170px;
        height: 170px;
    }

    .rate-event-area {
        gap: 30px;
    }

    .rate-event-area button img {
        width: 18px;
        height: 18px;
    }

    .rate-input-area input {
        width: 48px;
        height: 30px;
    }
}