.login-popup-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
}

.login-popup-card {
    background-color: #92C7EF;
    padding: 36px 42px 32px 42px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
}

.login-img {
    width: 172px;
    height: auto;
}

.login-loading-gif {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 28px;
}

.login-content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
}

.register-link {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
}

.register-link p:nth-child(2) {
    border-bottom: solid 1px #FFF;
    display: inline;
    cursor: pointer;
}

.register-link p:nth-child(2):hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.login-form-fields-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media(min-width: 768px) {
    .login-popup-card {
        padding: 36px 48px 32px 48px;
    }
}

@media(min-width: 992px) {
    .login-popup-card {
        flex-direction: row;
        padding: 42px 48px 42px 42px;
        gap: 48px;
    }

    .login-img {
        width: 256px;
    }
    
    .login-loading-gif {
        top: 16px;
        right: 16px;
        width: 28px;
    }

    .register-link {
        font-size: 14px;
    }

    .login-form {
        gap: 38px;
    }

    .login-form-fields-area {
        gap: 22px;
    }
}