.landing-container {
    display: flex;
    flex-direction: column;
}

.landing-card-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 30px 20px;
}

.landing-card {
    background-color: #92C7EF;
    width: 100%;
    border-radius: 20px;
    padding: 26px 40px 0 40px;
    font-size: 15px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.landing-card-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.landing-card-header-container img {
    width: 238px;
}

.landing-card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.landing-card-header h1 {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    font-family: "Oleo Script Swash Caps";
}

.landing-card-header p {
    font-size: 14px;
    letter-spacing: 2px;
}

.landing-card-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

@media(min-width: 768px) {
    .landing-card {
        max-width: 460px;
    }

    .landing-card-header {
        max-width: 360px;
    }
}

@media(min-width: 992px) {
    .landing-card {
        max-width: unset;
        width: unset;
        padding: 44px 100px 0 100px;
        gap: 5px;
    }

    .landing-card-header-container {
        flex-direction: row;
        align-items: unset;
        gap: 76px;
    }

    .landing-card-header-container img {
        width: 345px;
        height: auto;
        transform: translateY(18px);
    }

    .landing-card-header {
        max-width: 368px;
    }

    .landing-card-header h1 {
        text-align: left;
        font-size: 5.3rem;
    }

    .landing-card-header p {
        font-size: 18px;
    }

    .landing-card-cta-container {
        flex-direction: row-reverse;
        align-self: flex-start;
        gap: 170px;
    }

    .management-image {
        width: 278px;
    }
}